@import "/src/Styles/Variables.module.scss";

.notification {
  position: relative;

  display: flex;

  max-width: 320px;
  height: 128px;

  gap: 12px;
  padding: 16px;

  border-radius: 8px;
  border: 1px solid var(--basicNotificationColorItemBorder);

  background-color: var(--basicNotificationColorItemBacg);

  &--error {
    border: 1px solid var(--errorNotificationColorItemBorder);
    background-color: var(--errorNotificationColorItemBacg);
  }
}

.cross {
  position: absolute;

  top: 16px;
  right: 16px;

  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &Icon--error {
      color: var(--errorNotificationColorTitleBodyIcons);
    }

    &Icon--basic {
      color: var(--basicNotificationColorTitleBodyIcons);
    }
  }
}

.info {
  display: flex;
  align-items: start;

  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &Icon--error {
      color: var(--errorNotificationColorTitleBodyIcons);
    }

    &Icon--basic {
      color: var(--basicNotificationColorTitleBodyIcons);
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__button {
    width: auto;
    height: auto;

    padding: 8px;

    border-radius: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    background-color: var(--basicNotificationColorButtonBacg);
    border: none;
    color: var(--basicNotificationColorButtonText);

    cursor: pointer;

    &--error {
      background-color: var(--errorNotificationColorButtonBacg);
      border: 1px solid var(--errorNotificationColorButtonBorder);
      color: var(--errorNotificationColorButtonBorderAndText);
    }
  }
}

.aboutNotification {
  display: flex;
  flex-direction: column;

  gap: 5px;

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;

    color: var(--basicNotificationColorTitleBodyIcons);

    &--error {
      color: var(--errorNotificationColorTitleBodyIcons);
    }
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;

    color: var(--basicNotificationColorTitleBodyIcons);

    &--error {
      color: var(--errorNotificationColorTitleBodyIcons);
    }
  }
}
