@import "/src/Styles/Variables.module.scss";

.notification {
  position: absolute;

  bottom:20px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;

  min-width: 320px;
  height: 128px;

  gap: 12px;
  padding: 16px;

  border-radius: 8px;
  border: 1px solid var(--color-mid-grey);

  background-color: var(--color-light-bg);

  &_error {
    border: 1px solid var(--color-notification-border);
    background-color: var(--color-notification-bg);
  }
}

.cross {
  position: absolute;

  top: 16px;
  right: 16px;

  &_button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &Icon__error {
      color: var(--color-error-bg);
    }

    &Icon__basic {
      color: var(--color-dark-text);
    }
  }
}

.info {
  display: flex;
  align-items: start;

  &_button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &Icon__error {
      color: var(--color-error-bg);
    }

    &Icon__basic {
      color: var(--color-dark-text);
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_button {
    width: auto;
    height: auto;

    padding: 8px;

    border-radius: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    background-color: var(--color-dark-bg);
    border: none;
    color: var(--color-light-bg);

    cursor: pointer;

    &__error {
      background-color: var(--color-error-button-bg);
      border: 1px solid var(--color-notification-border);
      color: var(--color-error-button-border);
    }
  }
}

.aboutNotification {
  display: flex;
  flex-direction: column;

  gap: 5px;

  &_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;

    color: var(--color-dark-text);

    &__error {
      color: var(--color-error-bg);
    }
  }

  &_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;

    color: var(--color-dark-text);

    &__error {
      color: var(--color-error-bg);
    }
  }
}
