@import "/src/Styles/Variables.module.scss";

.checkbox {
  display: flex;
  align-items: center;

  margin-top: 8px;

  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    margin-left: 10px;
    user-select: none;
    color: var(--authColorFormInputLabelTextAndInputText);
  }

  &__inputCheckBox {
    display: none;

    &:checked ~ &Custom {
      background-color: var(--checkboxColorCheckedBacgAndBorder);
    }

    &:checked ~ &Custom::after {
      display: block;
    }

    &Custom {
      position: relative;

      width: 16px;
      height: 16px;

      border: 1px solid var(--checkboxColorCheckedBacgAndBorder);
      border-radius: 4px;

      background-color: transparent;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 10px;
        height: 7px;

        background-image: var(--checkboxUrlIcon);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
}
