.questionNotFound {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 768;
  height: 100vh;
}

.container {
  padding: 32px;

  border: 1px solid var(--color-light-grey);
  border-radius: 8px;
}

.infoSection {
  display: flex;
  flex-direction: column;

  gap: 12px;
  margin-bottom: 24px;

  &_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;

    color: var(--color-dark-text);
  }

  &_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;

    color: var(--color-dark-text);
  }
}

.actions {
  display: flex;
  justify-content: end;
}
