@import "/src/Styles/Variables.module.scss";

.wrapper {
  &Huge {
    position: absolute;
    display: flex;

    align-items: center;
    justify-content: center;

    inset: 0;
  }

  &QuestionImgLoader {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50vw;
    max-height: 280px;
  }
}

.loader {
  width: 35px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(var(--color-light-bg) 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;

  &__questionImgLoader {
    width: 35px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(var(--color-dark-bg) 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  &__huge {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(var(--color-dark-bg) 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
