@import "/src/Styles/Variables.module.scss";

.field {
  display: flex;
  flex-direction: column;
  align-items: start;

  margin-bottom: 8px;
  gap: 8px;
  max-width: 320px;

  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;

    color: var(--color-dark-text);

    &--invalid {
      color: var(--color-accent-red);
    }
  }

  &__input {
    width: 100%;
    height: 40px;

    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;

    border: 1px solid var(--color-light-grey);
    border-radius: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    background-color: var(--color-light-bg);
    color: var(--color-dark-text);

    &--disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;

      color: var(--color-placeholder);
    }
  }

  &__error {
    display: flex;
    flex-wrap: wrap;

    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;

    color: var(--color-accent-red);
  }
}
