.navigationList {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.navigationList__button {
  display: flex;
  align-items: center;

  gap: 8px;

  border-style: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  background-color: transparent;
  color: var(--color-dark-text);
  cursor: pointer;

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  span {
    display: flex;
    align-items: center;
  }
}
