.securityPasswordMessage {
  margin-bottom: 8px;

  &_description {
    font-weight: 400;
    font-size: 15px;
    line-height: 22.4px;

    color: var(--color-dark-text);
  }
}

.securityPassword {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 10px;
}

.bar {
  flex: 1;

  height: 100%;

  border-radius: 8px;

  &__step1 {
    background-color: var(--color-accent-red);
  }
  &__step2 {
    background-color: var(--color-accent-yellow);
  }
  &__step3 {
    background-color: var(--color-accent-green);
  }
}
