@import "./Variables.module.scss";

body {
  background-color: var(--color-light-bg);
  font-family: Inter, sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
}

* {
  transition: background-color 0.3s ease;
}

input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color-light-bg) inset !important;
  -webkit-text-fill-color: var(
    --color-dark-text
  ) !important;
}

input:-moz-autofill {
  box-shadow: 0 0 0 30px var(--color-light-bg) inset !important;
  color: var(--color-dark-text) !important;
}
