$color-darkTheme-001: #ffffff; // Белый
$color-darkTheme-002: #d9d9d9; // Светло-серый
$color-darkTheme-003: #1e1e1e; // Почти черный
$color-darkTheme-004: #757575; // Средне-серый
$color-darkTheme-005: #b3b3b3; // Светло-серый
$color-darkTheme-006: #303030; // Тёмно-серый

$color-lightTheme-001: #000000; // Черный
$color-lightTheme-002: #2c2c2c; // Очень тёмный серый
$color-lightTheme-003: #e3e3e3; // Очень светло-серый
$color-lightTheme-004: #ffffffb2; // Полупрозрачный белый
$color-lightTheme-005: #f5f5f5; // Очень светлый серый
$color-lightTheme-006: #ffffff66; // Полупрозрачный белый

$color-permanent-001: #900b09; // Ярко-красный
$color-permanent-002: #fee9e7; // Розовато-белый
$color-permanent-003: #fdd3d0; // Светло-розовый
