:root {
  /* Основные цвета */
  --color-light-bg: #f5f5f5;
  --color-dark-text: #1e1e1e;
  --color-dark-bg: #2c2c2c;
  --color-light-dark-bg: #E3E3E3;
  --color-mid-grey: #757575;
  --color-light-grey: #d9d9d9;
  --color-accent-red: #ff2c2c;
  --color-accent-yellow: #ffff00;
  --color-accent-green: #228c22;
  --color-notification-bg: #fee9e7;
  --color-notification-border: #ec221f;
  --color-error-bg: #900b09;
  --color-error-button-bg: #d9d9d9;
  --color-error-button-border: #b3b3b3;
  --color-placeholder: #b3b3b3;

  --icon-checkbox: url("/public/svg/checkbox/IconWhite.svg");
}

[data-theme="darkMode"] {
  --color-light-bg: #1e1e1e;
  --color-dark-bg: #f5f5f5;
  --color-light-dark-bg: #2c2c2c;
  --color-dark-text: #f5f5f5;
  --color-error-bg: #fee9e7;
  --color-notification-bg: #4d0b0a;
  --color-error-button-bg: #c00f0c;
  --color-error-button-border: #fee9e7;
  --color-notification-border: #f4776a;
  --color-mid-grey: #e3e3e3;
  --color-placeholder: #b3b3b3;
  --color-light-grey: #d9d9d9;

  --icon-checkbox: url("/public/svg/checkbox/IconDark.svg");
}
