:root {
  // Notification
  --basicNotificationColorTitleBodyIcons: #1e1e1e;
  --basicNotificationColorItemBacg: #ffffff;
  --basicNotificationColorItemBorder: #757575;
  --basicNotificationColorButtonBacg: #2c2c2c;
  --basicNotificationColorButtonText: #f5f5f5;

  --errorNotificationColorTitleBodyIcons: #900b09;
  --errorNotificationColorItemBacg: #fee9e7;
  --errorNotificationColorItemBorder: #ec221f;
  --errorNotificationColorButtonBacg: #d9d9d9;
  --errorNotificationColorButtonBorderAndText: #b3b3b3;
  --errorNotificationColorButtonBorder: #b3b3b3;

  // Header
  --headerColorToggleThemeButtonBorder: #d9d9d9;
  --headerColorToggleThemeButtonBacg: #f5f5f5;

  --headerColorLoginButtonBorder: #767676;
  --headerColorLoginButtonBacg: #e3e3e3;
  --headerColorLoginButtonText: #1e1e1e;

  --headerColorRegisterButtonBacg: #2c2c2c;
  --headerColorRegisterButtonText: #f5f5f5;

  // Auth
  --authColorInfoSectionTitle: #1e1e1e;
  --authColorInfoSectionDescription: #757575;

  --authColorFormBorder: #d9d9d9;

  --authColorFormInputLabelText: #1e1e1e;
  --authColorFormInputFieldBorder: #d9d9d9;
  --authColorFormInputFieldColorAndPlaceholderColor: #b3b3b3;

  --authColorFormButtonBacg: #2c2c2c;
  --authColorFormButtonColor: #f5f5f5;
  --authColorFormButtonLinkColor: #1e1e1e;
}

[data-theme="darkMode"] {
  --basicNotificationColorTitleBodyIcons: #ffffff;
  --basicNotificationColorItemBacg: #1e1e1e;
  --basicNotificationColorButtonBacg: #f5f5f5;
  --basicNotificationColorButtonText: #1e1e1e;

  --errorNotificationColorTitleBodyIcons: #fee9e7;
  --errorNotificationColorItemBacg: #4d0b0a;
  --errorNotificationColorButtonBacg: #c00f0c;
  --errorNotificationColorButtonBorderAndText: #fee9e7;
  --errorNotificationColorButtonBorder: #f4776a;
}
