.cap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__buttonChangeTheme {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    margin-right: 66px;

    background-color: #f5f5f5;

    border-radius: 32px;
    border: 1px solid #d9d9d9;

    cursor: pointer;
  }
}

.navigation__auth {
  display: flex;
  gap: 12px;

  list-style: none;

  &ItemButton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 32px;

    border-radius: 8px;

    cursor: pointer;

    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    &--login {
      color: #1e1e1e;
      background-color: #e3e3e3;

      border: 1px solid #767676;

      &--authorized {
        width: auto;

        background-color: #ffffff;
        border: none;
      }
    }

    &--register {
      color: #f5f5f5;
      background-color: #2c2c2c;
      border: none;
    }
  }
}
