@import "/src/Styles/Variables.module.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px;
  border-bottom: 1px solid $color-darkTheme-002;

  @media screen and (max-width: 425px) {
    padding-top: 16px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-left: 12px;
  }

  @media screen and (max-width: 360px) {
    padding-left: 0;
    padding-right: 0;
  }

  &__buttonChangeTheme {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    margin-right: 66px;

    background-color: $color-lightTheme-005;

    border-radius: 32px;
    border: 1px solid $color-darkTheme-002;

    cursor: pointer;
  }
}

.navigation__auth {
  display: flex;
  gap: 12px;

  list-style: none;

  &ItemButton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 32px;

    padding: 8px;

    border-radius: 8px;

    cursor: pointer;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    &--login {
      color: $color-darkTheme-003;
      background-color: $color-lightTheme-003;

      border: 1px solid $color-darkTheme-004;

      &--authorized {
        width: auto;

        background-color: $color-darkTheme-001;
        border: none;
      }
    }

    &--register {
      color: $color-lightTheme-005;
      background-color: $color-lightTheme-002;
      border: none;
    }
  }
}
