@import "/src/Styles/Variables.module.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid var(--color-light-grey);
  flex: 0 0 auto;

  @media screen and (max-width: 425px) {
    padding-top: 16px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-left: 12px;
  }
}

.navigation_auth {
  display: flex;
  align-items: center;
  gap: 12px;

  list-style: none;

  &ItemDescription {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    color: var(--color-dark-text);
  }
}
