@import "/src/Styles/Variables.module.scss";

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 45px;

  &__exit {
    background-color: transparent;
    border-style: none;

    cursor: pointer;
  }
}

.paginationWrapper {
  display: flex;
  justify-content: center;

  overflow-x: auto;

  width: 100%;

  margin-bottom: 20px;
}

.listPagination {
  display: flex;
  overflow-x: auto;

  gap: 8px;

  &_button {
    text-align: center;

    width: 32px;
    height: 32px;

    border-radius: 8px;
    border-style: none;

    cursor: pointer;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    background-color: transparent;
    color: var(--color-dark-bg);

    &__current {
      color: var(--color-light-bg);
      background-color: var(--color-dark-bg);
    }

    &__isCorrect {
      background-color: var(--color-accent-green);
    }

    &__isInvalid {
      background-color: var(--color-error-button-bg);
    }
  }
}
