.securityPassword {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 0 1px;
  border-radius: 8px;

  &__field {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10px;
    border-radius: 8px;
    border: 1px solid #000;
    background-color: lightgrey;
    transition: background-color 0.3s ease;

    &--full {
      &:nth-child(1) {
        background-color: #e32227;
      }

      &:nth-child(2) {
        background-color: #fcd54c;
      }

      &:nth-child(3) {
        background-color: #50c578;
      }
    }
  }
}
