@import "/src/Styles/Variables.module.scss";

.buttonChangeTheme {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  margin-right: 66px;

  background-color: $color-lightTheme-005;

  border-radius: 32px;
  border: 1px solid $color-darkTheme-002;

  cursor: pointer;
}
