@import "/src/Styles/Variables.module.scss";

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 768px;
  height: auto;

  gap: 10px;
  padding: 10px;

  border: 1px solid var(--questionColorBorder);
  border-radius: 8px;

  &__img {
    object-fit: contain;

    width: 100%;
    height: auto;

    border-radius: 8px;
  }

  &__titleQuestion {
    margin-bottom: 10px;

    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;

    color: var(--questionColorQuestionTitle);
  }

  &__listAnswers {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 10px;
    margin-bottom: 10px;

    .listAnswers__button {
      text-align: center;

      width: 100%;
      height: 40px;

      border-radius: 8px;
      border-style: none;

      font-weight: 400;
      font-size: 16px;
      line-height: 16px;

      background-color: var(--questionColorAnswerButtonBacg);
      color: var(--questionColorAnswerButtonText);
      cursor: pointer;
    }
  }

  &__navigationList {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }

  .navigationList__button {
    display: flex;
    align-items: center;

    gap: 8px;

    border-style: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    background-color: transparent;
    color: var(--questionColorNavigationButtonText);
    cursor: pointer;

    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    span {
      display: flex;
      align-items: center;
    }
  }
}

.wrapperEmptyImage {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 50vh;
  max-height: 420px;

  border-radius: 8px;
  background-color: var(--questionColorEmeptyImgBacg);

  &__title {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 22px;
    line-height: 22.4px;
  }
}
