@import "/src/Styles/Variables.module.scss";

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 768px;
  height: auto;

  gap: 10px;
  padding: 10px;

  border: 1px solid var(--questionColorBorder);
  border-radius: 8px;

  .hiddenImg {
    display: none;
  }

  &__img {
    object-fit: contain;

    width: 100%;
    height: 50vw;
    max-height: 280px;

    border-radius: 8px;
  }

  &__titleQuestion {
    text-align: center;

    margin-bottom: 10px;

    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;

    color: var(--questionColorQuestionTitle);
  }

  &__listAnswers {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 10px;
    margin-bottom: 10px;

    .listAnswers__button {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      min-height: 40px;

      padding: 12px;

      border-radius: 8px;
      border-style: none;

      background-color: var(--questionColorAnswerButtonBacg);

      &Text {
        text-align: center;
        width: 100%;

        font-weight: 400;
        font-size: 16px;
        line-height: 16px;

        color: var(--questionColorAnswerButtonText);
        cursor: pointer;
      }

      &--answer,
      &Text--answer {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &--thisAnswer,
      &Text--thisAnswer {
        opacity: 1;
      }
    }

    .listAnswers__thisAnswer {
      padding: 8px;
      border-radius: 8px;

      font-weight: 400;
      font-size: 16px;
      line-height: 16px;

      color: #f5f5f5;
      background-color: #1e1e1e;
    }
  }

  &__navigationList {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }

  .navigationList__button {
    display: flex;
    align-items: center;

    gap: 8px;

    border-style: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    background-color: transparent;
    color: var(--questionColorNavigationButtonText);
    cursor: pointer;

    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    span {
      display: flex;
      align-items: center;
    }
  }
}

.wrapperEmptyImage {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 50vw;
  max-height: 280px;

  border-radius: 8px;
  background-color: var(--questionColorEmeptyImgBacg);

  &__title {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 22px;
    line-height: 22.4px;
  }
}

.questionNotFound {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 768;
  height: 100vh;
}

.container {
  padding: 32px;

  border: 1px solid var(--pageNotFoundColorBorder);
  border-radius: 8px;
}

.infoSection {
  display: flex;
  flex-direction: column;

  gap: 12px;
  margin-bottom: 24px;

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;

    color: var(--pageNotFoundColorInfoSectionTitleAndDescription);
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;

    color: var(--pageNotFoundColorInfoSectionTitleAndDescription);
  }
}

.actions {
  display: flex;
  justify-content: end;
}
