@import "/src/Styles/Variables.module.scss";

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 768px;
  height: auto;

  gap: 10px;
  padding: 10px;

  border: 1px solid var(--color-mid-grey);
  border-radius: 8px;

  .hiddenImg {
    display: none;
  }

  &_img {
    object-fit: contain;

    width: 100%;
    height: 50vw;
    max-height: 280px;

    border-radius: 8px;
  }

  &_titleQuestion {
    text-align: center;

    margin-bottom: 10px;

    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;

    color: var(--color-dark-text);
  }
}

.listAnswers {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 10px;
  margin-bottom: 10px;

  &_item {
    display: flex;
    position: relative;

    align-items: center;
  }

  &_button {
    text-align: center;

    width: 100%;
    min-height: 40px;

    padding: 12px;

    border-radius: 8px;
    border-style: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;

    background-color: var(--color-dark-bg);
    color: var(--color-light-bg);

    &__answer {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  &_thisAnswer {
    position: absolute;

    right: 12px;

    padding: 8px;
    border-radius: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    color: var(--color-dark-bg);
    background-color: var(--color-light-bg);

    @media screen and (max-width: 375px) {
      padding: 4px;
    }
  }
}

.wrapperEmptyImage {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 50vw;
  max-height: 280px;

  border-radius: 8px;

  &_title {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 22px;
    line-height: 22.4px;

    color: var(--color-dark-text);
  }
}
