.pageNotFound {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.container {
  padding: 32px;

  border: 1px solid var(--pageNotFoundColorBorder);
  border-radius: 8px;
}

.infoSection {
  display: flex;
  flex-direction: column;

  gap: 12px;
  margin-bottom: 24px;

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;

    color: var(--pageNotFoundColorInfoSectionTitleAndDescription);
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;

    color: var(--pageNotFoundColorInfoSectionTitleAndDescription);
  }
}

.actions {
  display: flex;
  justify-content: end;
}
